!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="form">
    <form method="post" action="/login" id="login-form" >
        <input type="text" placeholder="Login" th:field="*{userModel.login}">
        <input type="password" placeholder="Hasło" th:field="*{userModel.pass}">
        <input type="submit" value="Zaloguj">
    </form>
    <script>
        // skrypt validacyjny formularz logowania
    </script>
</th:block>



<img src="/logo.png" id="logo" th:fragment="logo">
</body>
</html>