<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Magazyn</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/commons.css">
</head>
<body>

<div id="content">

</div>

<script>
    function ajax2(){
       var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance
        xmlhttp.open("POST", "/getProductByID");
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.onreadystatechange = function () {
            try {
                jsonObj = JSON.parse(xhr.responseText);
            } catch (e) {
                alert(e.toString());
            }
            console.log(jsonObj);
        }
        xmlhttp.send(JSON.stringify({id:1}));

    }
</script>
</body>
</html>